{% extends "master.html" %}

{% block title %}
  My Tennis Club - List of all members
{% endblock %}


{% block content %}

  <p><a href="/">HOME</a></p>

  <h1>Members</h1>
  
  <ul>
    {% for x in mymembers %}
      <li>
        <a href="details/{{ x.id }}">{{ x.firstname }} {{ x.lastname }}</a>
        <a href="delete/{{ x.id }}" class="ms-2 btn btn-danger fa-solid fa-trash-can"></a>
      </li>
    {% endfor %}
  </ul>

  <p class="mt-3">
    <a href="add/">Add member</a>
  </p>
{% endblock %}