{% extends "master.html" %}

{% block title %}
- Novo Aluguel
{% endblock %}
{% block content %}
<div class="card mt-2">
    <div class="card-header">
        Novo Aluguel
    </div>
    <div class="card-body">

        <form action="addrecord/" method="post">
            {% csrf_token %}
            <select name="member">
                {% for x in members %}
                <option value ="{{ x.id }}">{{ x.title }}</option>
                {% endfor %}
            </select>
            <select name="equipment">
                {% for x in equipments %}
                <option value ="{{ x.id }}">{{ x.title }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
        <p><a href="/members">Voltar</a></p>
    </div>
</div>
{% endblock %}